.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px; /* Adjust this if needed */
}

.embla__slide {
  position: relative;
  flex: 0 0 33.3333%; /* Each slide takes up one-third of the viewport */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embla__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.embla__buttons {
  display: flex;
  gap: 8px;
}

.embla__dots {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 16px;
  position: absolute;
  bottom: -20px; /* Adjust this as needed */
  width: 100%;
}

.embla__dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.embla__dot--selected {
  background-color: #333;
}
